<!DOCTYPE html>
<html lang="en">


{% comment %}
This is the base HTML template inherited by other app HTML pages. It contains code for the top title bar and navigation
bar. It also links to Bootstrap, DataTables, and local CSS files for formatting and additional functionality.
Layout adapted from https://bit.ly/2LA3Y2F under MIT license
Child Frontiers logo used with written permission from Child Frontiers.
{% endcomment %}

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Child Frontiers Database Manager</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"
          rel="stylesheet">

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <!-- Custom styles for this template -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" rel="stylesheet">


</head>

<body>

<!-- Top bar -->
<nav class="navbar navbar-light bg-dark border-bottom" style="background-color: black !important">
    <img src={% static 'img/logo.png' %} class="rounded mx-auto d-block alt="logo">

    <div class="btn-group">
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {{ user.get_username }}
            </button>
            <div class="dropdown-menu dropdown-menu-right">

            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
                </li>
            </ul>

        {% else %}
            <a href="{% url 'login' %}" class="btn btn-secondary btn-sm active">Log in</a>
        {% endif %}
        </div>
    </div>
</nav>

<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="list-group list-group-flush">
            <a href="{% url 'index' %}" class="list-group-item list-group-item-action bg-light">Home</a>
            <a href="{% url 'project_list' %}" class="list-group-item list-group-item-action bg-light">Projects</a>
            <a href="{% url 'client_list' %}" class="list-group-item list-group-item-action bg-light">Clients</a>
            <a href="{% url 'employee_list' %}" class="list-group-item list-group-item-action bg-light">Employees</a>
            <a href="{% url 'question_list' %}" class="list-group-item list-group-item-action bg-light">Questions</a>
            <a href="{% url 'vignette_list' %}" class="list-group-item list-group-item-action bg-light">Vignettes</a>
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            {% block content %}{% endblock %}

            {% block pagination %}
                {% if is_paginated %}
                    <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>

</div>

</body>

<!-- Scripts required by Django -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<!-- Script for Boostrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<!-- Script for DataTables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<!-- DataTables script to add interactive features to tables (sorting, pagination, and search) -->
<script>
    $(document).ready(function () {
        $('#table').DataTable();
    });
</script>

</html>

