{% extends "base_generic.html" %}

{% block content %}
    {% if client_list %}
        <table class="table">
            <tr>
                <th>Client name</th>
                <th>Type</th>
            </tr>
            {% for client in client_list %}
                <tr>
                    <td><a href="{{ client.get_absolute_url }}">{{ client.name }}</a></td>
                    <td>{{ client.type }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no clients in the library.</p>
    {% endif %}
    <p><a href="{% url 'client_create' %}" class="btn btn-secondary">Add Client</a></p>
{% endblock %}