<!-- Page to display list clients -->

{% extends "base_generic.html" %}

{% block content %}
    {% if client_list %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Client</th>
                </tr>
                </thead>
                <tbody>
                {% for client in client_list %}
                    <tr>
                        <td><a href="{{ client.get_absolute_url }}">{{ client.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>There are no clients in the database.</p>
    {% endif %}
    <p><a href="{% url 'client_create' %}" class="btn btn-secondary">Add Client</a>
    <a href="../clients" target="_blank" class="btn btn-secondary">View JSON</a></p>
{% endblock %}