<!-- Page to display list data sources -->

{% extends "base_generic.html" %}

{% block content %}
    <h2>Data Source List</h2>
    {% if datasource_list %}
        <div class="table-responsive">
            <table id="table" class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Project</th>
                </tr>
                </thead>
                <tbody>
                {% for datasource in datasource_list %}
                    <tr>
                        <td><a href="{{ datasource.get_absolute_url }}">{{ datasource.name }}</a></td>
                        <td>{{ datasource.data_source_type }}</td>
                        <td>{{ datasource.project }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>There are no data sources in the database.</p>
    {% endif %}
    <p><a href="{% url 'data_source_create' %}" class="btn btn-secondary">Add Data Source</a>
        <a href="{% url 'data_source_JSON' %}" target="_blank" class="btn btn-secondary">View JSON</a></p>
{% endblock %}