{% extends "base_generic.html" %}

{% block content %}
    <h2>Data Source List</h2>
    {% if datasource_list %}
        <ul>
            {% for datasource in datasource_list %}
                <p>
                    <a href="{{ datasource.get_absolute_url }}">{{ datasource.name }}</a>
                </p>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no data sources in the database.</p>
    {% endif %}
    <p><a href="{% url 'data_source_create' %}" class="btn btn-secondary">Add Data Source</a></p>
{% endblock %}