{% extends "base_generic.html" %}

{% block content %}
    <h2>Data Source Details</h2>

    <ul>
        <p><strong>Project:</strong> {{ datasource.project }}</p>
        <p><strong>Name:</strong> {{ datasource.name }}</p>
        <p><strong>Type:</strong> {{ datasource.data_source_type }}</p>
        <p><strong>Acquisition date:</strong> {{ datasource.acquisition_date }}</p>
        <p><strong>Province:</strong> {{ datasource.province }}</p>
        <p><strong>District:</strong> {{ datasource.district }}</p>
        <p><strong>Community:</strong> {{ datasource.community }}</p>
    </ul>
    <p><a href="{{ datasource.data_source_id }}/update/" class="btn btn-secondary">Modify data source</a>
        <a href="{{ datasource.data_source_id }}/delete/" class="btn btn-secondary">Delete data source</a></p>
    <p></p>

    <br>
    <h3>Associated Responses</h3>
    <ul>
        <table class="table">
            <tr>
                <th>Question</th>
                <th>Response</th>
                <th>Participant</th>
                <th>Data Source</th>
            </tr>
            {% for response in view.response %}
                {% if response.data_source_id == datasource.data_source_id %}
                    <tr>
                        <td>{{ response.question.question_text }}</td>
                        <td>
                            <a href="{{ response.get_absolute_url }}">
                                {{ response.qualitative_response|default_if_none:"" }}
                                {{ response.quantitative_response|default_if_none:"" }}
                                {{ response.boolean_response|default_if_none:"" }}</a>
                        </td>
                    <td>{{ response.participant.participant_type }}</td>
                    <td>{{ response.data_source.name }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </ul>
    <p><a href="{% url 'response_create' %}" class="btn btn-secondary">Add Response</a></p>
{% endblock %}