<!-- Page to confirm deletion of data source -->

{% extends "base_generic.html" %}

{% block content %}

    <h1>Delete Data Source</h1>

    <p>Are you sure you want to delete the data source: {{ datasource.name }}?</p>
    <p>Deleting this data source will delete all associated responses!</p>

    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes, delete" class="btn btn-secondary">
        <a href="{{ datasource.get_absolute_url }}" id="Cancel" name="Cancel" class="btn btn-secondary">Cancel</a>
    </form>

{% endblock %}