{% extends "base_generic.html" %}

{% block content %}
    <h2>Data Source Details</h2>

    <p><strong>Project:</strong> {{ datasource.project }}</p>
    <p><strong>Name:</strong> {{ datasource.name }}</p>
    <p><strong>Type:</strong> {{ datasource.data_source_type }}</p>
    <p><strong>Acquisition date:</strong> {{ datasource.acquisition_date }}</p>
    <p><strong>Province:</strong> {{ datasource.province }}</p>
    <p><strong>District:</strong> {{ datasource.district }}</p>
    <p><strong>Community:</strong> {{ datasource.community }}</p>

    <p><a href="{{ datasource.data_source_id }}/update/" class="btn btn-secondary">Modify data source</a>
        <a href="{{ datasource.data_source_id }}/delete/" class="btn btn-secondary">Delete data source</a></p>
    <p></p>

    <p><strong>Responses:</strong></p>
    {% if response_list %}
        <ul>
            Reached here
            {% for response in response_list %}
                {% if response.data_source_id == datasource.data_source_id %}
                    <p>
                        <a href="{{ response.get_absolute_url }}">
                            {{ response.qualitative_response|default_if_none:"" }}{{ response.quantitative_response|default_if_none:"" }}{{ response.boolean_response|default_if_none:"" }}</a>
                    </p>
                {% endif %}
            {% endfor %}
        </ul>

    {% else %}
        <p>There are no responses for this data source.</p>
    {% endif %}
    <p><a href="{% url 'response_create' %}" class="btn btn-secondary">Add Response</a></p>

{% endblock %}