{% extends "base_generic.html" %}

{% block content %}
    {% if employee_list %}
        <table class="table">
            <tr>
                <th>First name</th>
                <th>Last Name</th>
            </tr>
            {% for employee in employee_list %}
                <tr>
                    <td><a href="{{ employee.get_absolute_url }}">{{ employee.first_name }}</a></td>
                    <td>{{ employee.last_name }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no employees in the library.</p>
    {% endif %}
    <p><a href="{% url 'employee_create' %}" class="btn btn-secondary">Add Employee</a></p>
{% endblock %}