{% extends "base_generic.html" %}

{% block content %}
    {% if project_list %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Project</th>
                </tr>
                </thead>
                <tbody>
                {% for project in project_list %}
                    <tr>
                        <td><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>There are no projects in the library.</p>
    {% endif %}
    <p><a href="{% url 'project_create' %}" class="btn btn-secondary">Add Project</a></p>
{% endblock %}