<!-- Page to display form to create or modify question -->


{% extends "base_generic.html" %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" class="btn btn-secondary">
        {% if get_redirect == 1 %}
            <a href="{% url 'question_list' %}" id="Cancel" name="Cancel" class="btn btn-secondary">Cancel</a>
        {% else %}
            <a href="{{ question.get_absolute_url }}" id="Cancel" name="Cancel" class="btn btn-secondary">Cancel</a>
        {% endif %}
    </form>
{% endblock %}