{% extends "base_generic.html" %}

{% block content %}
    {% if response_list %}
        <div class="table-responsive">
            <table class="table table-hover">
                </thead>
                <tr>
                    <th>Question</th>
                    <th>Response</th>
                    <th>Participant</th>
                    <th>Data Source</th>
                </tr>
                </thead>
                <tbody>
                {% for response in response_list %}
                    <tr>
                        <td>{{ response.question.question_text }}</td>
                        <td>
                            {{ response.qualitative_response|default_if_none:"" }}{{ response.quantitative_response|default_if_none:"" }}{{ response.boolean_response|default_if_none:"" }}</td>
                        <td>{{ response.participant.participant_type }}</td>
                        <td>{{ response.data_source.name }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>There are no responses in the database.</p>
    {% endif %}
    <p><a href="{% url 'response_create' %}" class="btn btn-secondary">Add Response</a></p>
{% endblock %}