<!-- Page to display list vignettes -->

{% extends "base_generic.html" %}

{% block content %}
    {% if vignette_list %}
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Vignette</th>
                    <th>Vignette type</th>
                </tr>
                </thead>
                </tbody>
                {% for vignette in vignette_list %}
                    <tr>
                        <td><a href="{{ vignette.get_absolute_url }}">{{ vignette.vignette_description }}</a></td>
                        <td>{{ vignette.vignette_type }}</td>

                    </tr>
                {% endfor %}
            </table>
            </table>
        </div>
    {% else %}
        <p>There are no vignettes in the database.</p>
    {% endif %}
    <p><a href="{% url 'vignette_create' %}" class="btn btn-secondary">Add Vignette</a>
        <a href="{% url 'vignette_JSON' %}" target="_blank" class="btn btn-secondary">View JSON</a></p>
{% endblock %}